* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Changa', sans-serif;
}

header {
    padding: 40px;
    color: rgb(92, 92, 92); 
    font-family: 'Changa';
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    flex-wrap: wrap;
    z-index: 5;
}

header h3 {
    padding-top: 20px;
    font-weight: normal;
    display: flex;
    flex: 1;
}

aside {
    background-color: #4e6172a9;
    padding: 20px;
    width: 15%;
    z-index: 10;
    position: fixed;
    right: 0;
    height: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex: 1 2 auto;
    justify-content: flex-end; 
}

nav {
    padding-top: 100px;
    display: flex;
    flex: 1 2 auto;
}

nav ul li {
    list-style: none;
    padding-bottom: 80px;
    display: flex;
    flex: 1 2 auto;
}

nav ul li a {
    list-style-type: none;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    flex: 1 2 auto;
}


nav ul li a:hover {
    color: #36454f; 
}

.hero {
    background-image: url("../resources/images/zack-valleyoffire.JPG");
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: fixed;
}

main {
    position: relative;
    z-index: 1;
    top: 400px;
}

section {
    padding-left: 100px;
    color: whitesmoke;
    width: 75%;
}

section h2 {
    text-decoration: underline;
    padding: 40px 0;
    width: 100%;
}

.hide {
    display: none;
}

.contact ul li {
    display: inline;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}

.contact li a {
    color: whitesmoke;
    text-decoration: none;
}

.contact li a:hover {
    color: #36454f;
}

.project-container {
    width: 30%;
    display: inline-flex;
    flex-direction: column;
    padding-right: 75px;
    align-content: center;
}

.project-container h4 {
    text-align: center;
}

.project-container img {
   border-radius: 10px;
   width: 100%;
   height: 100%;

}

.projects img:hover {
    transform: scale(1.5);
}

.mobile {
    display: none;
}

.mobile-img {
    display: none;
}

@media only screen and (max-width: 480px) {
    body {
        width:100%;
        background-color: #4e6172a6
    }
    header {
        position: relative;
        width: 100%;
        position: flex;
    }

    header h1 {
        font-size: 20px
    }

    header h3 {
        width: 100%;
        font-size: 16px;
    }

    aside {
        display: none;
    }

    .hero {
        display: none;
    }

    main {
        position: relative;
        top: 20px;
    }

    section {
        width: 85%;
        padding-left: 60px;
    }

    .mobile {
        display: flex;
    }

    nav {
        padding: 20px;
    }


    nav ul li {
        display: inline;
        list-style: none;
    }
    
    nav ul li a {
        padding-right: 40px;
        list-style-type: none;
        font-size: 16px;
        color: whitesmoke;
        text-decoration: none;
    }

    .project-container {
        width: 40%;
        padding-right: 50px;
        
    }

    .mobile-img {
        width: 30%;
        display: flex;
        align-items: center;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact ul li {
        padding-bottom: 20px;
        font-size: 14px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 700px) {

} 

